<!DOCTYPE html>
<html>
  <head>
    <title>Do Hack</title>
    <script src="//cdn.tinymce.com/4.4/tinymce.min.js"></script>
    <%- js('app.js') %>
  </head>
  <body>
    <div>
      <textarea id="tinyMCEContainer"></textarea>
    </div>
  </body>
</html>
